.timo {
  width: 100px;
  height: auto;
  position: absolute;
  /* display: none; */
  z-index: 900;
}

canvas.c {
  width: 100vw;
  height: 100vh;

  position: absolute;
  z-index: 999;
  pointer-events: none;
}
