body {
  font-family: "Oxanium", cursive;
  width: 250px;
  height: 135px;
  background-color: #303030;
}
.container {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 5px 10px;
  justify-content: start;
}

button {
  padding: 0.5rem;
  font-family: "Oxanium", cursive;
  font-weight: bold;
  color: #ffffff;
  background-color: #424242;
  border: 2px solid #03dac6;
  border-radius: 10px;
}

/* select {
  width: 120px;
  height: 79px;
  font-family: "Oxanium", cursive;
  background-color: #303030;
  border: 2px solid #03dac6;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
}

select option {
  padding: 1rem;
  color: #ffffff;
  border-bottom: 1px solid #03dac6;
}

select option:hover {
  background-color: #424242;
} */

.footer {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 2rem;
  gap: 1rem;
}

.madeby {
  font-size: 11px;
  /* position: absolute; */
  bottom: 1px;
  left: 1px;
  color: gray;
}

.buildversion {
  font-size: 9px;
  position: absolute;
  bottom: 1px;
  right: 1px;
  color: gray;
}
